{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/flower.ico' %}" type="image/x-icon">
    
    <title>blog</title>
</head>
<body>
    <header>
        <!-- Start Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{% static 'blog/images/flower.ico' %}" alt="icon" width="30px">
                    المدونة </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                الدورات
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">بايثون</a></li>
                                <li><a class="dropdown-item" href="#">جافا</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">المزيد</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">من انا </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> تسجيل دخول </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> تسجيل  </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- End Navbar-->
    </header>
    <section>
        <div class="container">
            <div class="row mt-4 " >
                <div class="col-md-8">التدوينات</div>
                <div class="col-md-4">
                    <h3 class="text-center bg-secondary text-alght p-2"> اخر التدوينات</h3>
                    <ul>
                        <li> <a href="ss"></a> التدوينة الأولى </li>
                        <li> <a href="#"></a> التدوينة الثانية </li>
                        <li> <a href="#"></a> التدوينة الثالثة </li>
                        <li> <a href="#"></a> التدوينة الرابعة </li>
                        <li> <a href="#"></a> التدوينة الخامسة </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-4" >
                <div class="col-md-8">التدوينات</div>
                <div class="col-md-4">
                    <h3 class="text-center bg-secondary text-alght p-2"> اخر التدوينات</h3>
                    <ul>
                        <li> <a href="#"></a> التعليق الأول </li>
                        <li> <a href="#"></a> التعليق الثاني </li>
                        <li> <a href="#"></a> التعليق الثالث </li>
                        <li> <a href="#"></a> التعليق الرابع </li>
                        <li> <a href="#"></a> التعليق الخامس </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'blog/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/fontawesome-all.min.js' %}"></script>
</body>
</html>
